#one {
    background-color: rebeccapurple;
}
#t {
    color: rebeccapurple;
    font-size: 50px;
}
#v {
    color:black;
}
#b {
    background: #E9C05D;
    height: 300px;
}
#p {
    background: rgb(175, 116, 175);
    height: 300px;
}
#qwerty {
    background: chartreuse;
    height: 300px;
}
#qaws {
    background: #00BFFF;
    height: 300px;
}
#oy {
    background: #ff9206;
}
#to {
    background: #ff96f1;
}
#do {
    background: green;
}
#fa {
    background: #a4e0ec;
}
#al {
    color: white;
}