@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
html,body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
:root {
    --buts:rgba(178,118,93,0.4);
}
#name,#family{
    outline: none;
}
#shapka{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    background-image: url(https://i.gifer.com/E1c3.gif);
    background-size: cover;
    background-position: center;
}
#body{
    background-image: url(back.jpg);
    background-size: cover;
}
.s{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}
#forma{
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    margin-top: 10px;
}
#many{
    display: flex;
    flex-wrap: wrap;
}
#down{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Playfair Display', serif;
}
#b1 {
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--buts);
    font-family: 'Playfair Display', serif;
    transition: 1s
}
#b2 {
    width: 300px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--buts);
    font-family: 'Oswald', sans-serif;
    transition: 1s
}
#b3 {
    width: 300px;
    border-radius: 15px 15px 0px 0px; 
    background-color: var(--buts);
    font-family: 'Oswald', sans-serif;
    transition: 1s
}
#b4 {
    width: 300px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--buts);
    font-family: 'Playfair Display', serif;
    transition: 1s
}
#b5 {
    margin-top: 20px;
    width: 300px;
    border-radius: 15px;
    background-color: var(--buts);
    font-family: 'Playfair Display', serif;
    transition: 1s
}
#logo {
    height: 160px;
    width: auto;
}

#autorization{
    border-radius: 0px 0px 15px 15px;
    background-color: var(--buts);
    transition: 1s
}
#vk{
    height: 30px;
    width: auto;
}
#inst{
    height: 30px;
    width: auto;
}
#login {
    outline: none;
    border-radius: 15px 15px 0px 0px
}
#registr{
    border-radius: 0px 0px 0px 0px;
    background-color: var(--buts);
    transition: 1s
}
#pass{
    outline: none;
}
.podcategory {
    margin-left: 20px;
}
#pages {
    color: white;
    font-family: 'Playfair Display', serif;
    width: auto;
    background-color: rgba(0,0,0,0.3);
}
.page{
    color: white;
    transition: 0.5s
}
.page:hover {
    color: rgba(250, 135, 90, 0.9);
    text-decoration: none;
}
#info{
    display: flex;
    flex-direction: column;
    box-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    border-radius: 15px;
    margin-left: 80px;
    background-color: rgba(255,255,255,0.5);
}
summary{
    outline: none;
}
#b1:hover {
    background-color: rgba(178,118,93,0.9);;
}
#b2:hover {
    background-color: rgba(178,118,93,0.9);;
}
#b3:hover {
    background-color: rgba(178,118,93,0.9);;
}
#b4:hover {
    background-color: rgba(178,118,93,0.9);;
}
#b5:hover {
    background-color: rgba(178,118,93,0.9);;
}
#registr:hover {
    background-color: rgba(178,118,93,0.9);;
}
#autorization:hover {
    background-color: rgba(178,118,93,0.9);;
}
@media (max-width:1125px)
{ #logo{display:none;}
#info{
    margin-left: 0px;
}
#forma{
    width: 290px;
    align-self: center;
}
#block_user{
    align-self: center;
}

 }
 @media (max-width:310px) {
    #b1{
        width: 200px;
        
    }
    #b2{
        width: 200px;
        
    }
    #b3{
        width: 200px;
        
    }
    #b4{
        width: 200px;
        
    }
    #b5{
        width: 200px;
       
    }
    #forma{
        width: 200px;
    }
    #info{
        width: auto;
    }
 }
 #info1{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     border:3px solid rgb(136, 97, 52);
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     font-size: 20px;
 }
#img1,#img2 {
    width: 80px;
    height: 65px;
}
#imagesubmit{
    height: 30px;
    width: auto;
}
#otz1,#otz2 {
    width: 600px;
    font-size: 20px;
}


@media(max-width:783px) {
    #otz1,#otz2{
        width: 300px;
    }

    #info{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:840px) {
    #many{
        display: flex;
        flex-direction: column;
    }
  
}
@media(max-width:483px) {
    #otz1,#otz2{
        width: 200px;
    }
    #info{
        margin-left: -5px;
    }
}
#but2,#but4{
    width: 80px;
    height: 65px;
}  

@media(max-width:1125px) {
    #shapka{
        flex-direction: column-reverse;
    }
}
details[open] p,#komp_info1 {
    animation: spoiler 2s;
  }
  @keyframes spoiler {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
@media(max-width:978px) {
    #pages{
        display: flex;
        flex-grow: 1;
    }
}
@media(max-width:1279px) {
    #logo{
        display: none;
    }
}
#komp_info1{
    width:300px;
    height: auto;
}
@media(max-width:320px) {
    #komp_info1{
        display:none
    }
}
#content{
    display: flex;
    justify-content: center;
}
@media(max-width:224px) {
    #forma{
        flex-grow: 1;
    }
}
#success{
    background-color: rgba(0,128,0,0.5);
    display: none;
    color: white;
    transition: 2s;
}

#notsuccess{
    background-color: rgba(255,0,0,0.8);
    display: none;
}
#user{
    height: 80px;
    width: auto;
}
#block_user{
    display: none;
    margin-top: 15px;
}
    #warning{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        }
        #warning>h1{
        position: absolute;
        text-align: center;
        width: 50%;
        }
#lik,#lik2 {
    outline: none;
    background-color: rgba(255,255,255,0.1);
    border: none;
}
#r {
    text-decoration: none;
    color: white;
}
#info2{
    font-size: 20px;
    border:3px solid rgb(136, 97, 52)
}
@keyframes like {
    0% {background-color: rgba(255,0,0,0.1)}
    10% {background-color: rgba(255,0,0,0.2)}
    20% {background-color: rgba(255,0,0,0.3)}
    30% {background-color: rgba(255,0,0,0.4)}
    40% {background-color: rgba(255,0,0,0.5)}
    50% {background-color: rgba(255,0,0,0.6)}
    60% {background-color: rgba(255,0,0,0.7)}
    70% {background-color: rgba(255,0,0,0.8)}
    80% {background-color: rgba(255,0,0,0.9)}
    100% {background-color: rgba(255,0,0,1)}
}
#but2:hover {
    animation: like 2s infinite;
}